<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | <%= locals.name %></title>
</head>
<body>
    <h1>Chat Page, <%= locals.name %></h1>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/chat.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="./public/chat.js" async></script>
    <title>Welcome | <%= locals.name %></title>
</head>
<body>
    <p id="currentuser" hidden><%= locals.username %></p>
    <div id="wrapper">
        <section class="connections__section">
            <div class="brand extended">
                <div class="logo_user">
                    <img height="40" src="./public/india.svg" alt="">
                    <h1 class="username"><%= locals.name %></h1>
                </div>
                <div class="buttons">
                    <button class="button" id="joinorcreate">Join / Create</button>
                    <button data-modal-target class="adduserbutton button">Add User</button>
                    <button class="button" id="logout">Log Out</button>
                </div>
            </div>
            <div class="connections__area">
                <!-- Displaying list of users/rooms with which user had chat previously -->

                <ul>

                    <!-- Global Chat (common to everyone) -->
                    <!-- <li class="connection" name="chatapp1337" id="chatapp1337">
                        <span>
                            (G) Global
                        </span>
                    </li> -->

                    <% for(let i = 0; i < locals.connectionList.length; i++){ %>
                        <li class="connection" name="<%= locals.connectionList[i].connectionname %>" id="<%= locals.connectionList[i].connectionid %>">
                            <span>

                                <% if(locals.connectionList[i].isroom){ %>
                                    <span>(G) &nbsp;</span> <%=locals.connectionList[i].connectionname%>
                                    <% } else{ %>  
                                    <span>(U) &nbsp;</span> <%=locals.connectionList[i].connectionname%>
                                <% } %>
                                
                            </span>
                        </li>
                    <% } %>


                </ul>



                
            </div>
        </section>

        <section class="chat__section">
            <div class="brand">
                <img height="40" src="./public/india.svg" alt="">
                <h1 id="chatheading">

                    CHATAPP1337

                </h1>
            </div>
            <div class="message__area"></div>
            <div>
                <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
            </div>
        </section>

        <div class="chat__section__overlay" id="overlayoverall">
            <div class="brand">
                <img height="40" src="./public/india.svg" alt="">
                <h1>CHATAPP1337</h1>
            </div>
        </div>
    </div>

    <div class="modal" id="">
        <div class="modal-header">
            <div class="title">Add User</div>
            <button data-close-button class="close-button">&times;</button>
        </div>

        <div class="modal-body">
            <form action="">
                <label for="username" >Enter the UserName:</label>
                <input type="text" name="username" id="addusername">
                <button type="submit" id="addsendbutton">Send</button>
            </form>
        </div>
    </div>

    <div class="modal modal2" id="">
        <div class="modal-header">
            <div class="title">Enter Room Details</div>
            <button data-close-button class="close-button close-button2">&times;</button>
        </div>

        <div class="modal-body">
            <form action="">
                <label for="roomname" >Enter the RoomName:</label>
                <input type="text" name="roomname" id="roomname">
                <label for="roomid" >Enter the RoomId:</label>
                <input type="text" name="roomid" id="roomid">
                <button type="submit" id="roomsendbutton">Send</button>
            </form>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>
    

</body>
</html>